<section data-ng-controller="VersionsController">
	<div class="row">
		<div class="col-md-12">
			<h2>Upload a New Version</h2>
		</div>
	</div>
	<div class="row row-forms">
		<div class="col-sm-7 form-padding">
			<form class="form-horizontal col-sm-11 form-padding" role="form" action="{{formCreate}}" ng-upload="create(content)" enctype="multipart/form-data" ng-submit="showLoading = true">
				<div class="form-group">
					<label for="image" class="col-sm-2 control-label form-padding">Image</label>
					<div class="col-sm-10 form-padding">
						<input class="form-control" type="file" id="image" name="mockup" required>
            <input class="form-control" type="text" name="screenShot" placeholder="URL" required>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10 form-padding">
						<button type="submit" class="btn btn-default">Upload</button>
					</div>
				</div>
			</form>
		</div>

		<div class="col-sm-5">
			<div class="col-sm-12 col-forminfo montserrat">
				Upload the mock-up you wish to test against. PNG formats only, please.
			</div>
		</div>

		<div ng-if="showLoading">
		<h1><i class = "icon-spin"> <i class = "glyphicon glyphicon-refresh"></i></i> Analyzing...</h1>
	</div>
	<div ng-if="!global.user._id">
		<div> <h1>Please <a href ="/signin">Sign In</a> and Try Again.</h1>
	</div>

	</div>
</section>