<div class="row" data-ng-controller="VersionsController" data-ng-init="find()">

	<div class="col-lg-6" data-ng-repeat="version in versions">
	<!-- Panel Default -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{version.created | date: 'MMMM d, yyyy'}}</h3>

			<div class="btn-group pull-right">
				<a href="#" class="btn btn-default">
						<i class="fa fa-fw fa-trash-o"></i>
					</a>
				<a href="/#!/projects/{{project._id}}/edit" class="btn btn-default btn-refresh">
					<i class="fa fa-fw fa-cog"></i>
				</a>
			</div>
		</div>

		<div class="panel">
			<div class="panel-body">
				<h3>{{version.percentage}}%</h3>
				<a data-ng-href="{{projectView}}{{version._id}}">
					<img class="img-responsive" src="{{version.compared}}">
				</a>
				<p>{{version.noteCount}} notes</p>
			</div>
		</div>

	</div>
</div>