{% extends 'auth.html' %}

{% block auth %}


	<form class="signin" action="/users/session" method="post">

		<div class="form-group">
			<label class="sr-only" for="email">Email</label>
			<input id="email" class="form-control input-lg" type="text" name="email" placeholder="Email">
		</div>

		<div class="form-group">
			<label class="sr-only" for="password">Password</label>
			<input id="password" class="form-control input-lg" type="password" name="password" placeholder="Password">
		</div>

		<div class="form-group">
			<button class="btn btn-block btn-lg btn-primary" type="submit">Sign in</button>
		</div>
		<a class="show-signup" href="/signup">Create an account</a>
	</form>
{% endblock %}
