<section data-ng-controller="ProjectsController" data-ng-init="findOne()">

	<div class="layout-content" data-ng-show="global.authenticated">
		<div class="layout-header">
			<ul class="breadcrumb">
				<li><a href="/">Projects</a></li>
				<li class="active">Edit</li>
			</ul>
			<div class="page-header">
				<h1 class="page-title"><i class="fa fa-fw fa-folder"></i> Projects
					<small>Edit</small>
				</h1>
			</div>
		</div>

		<div class="row">
			<form role="form" data-ng-submit="update()">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Edit</h3>
						</div>
						<div id="nolabel-layout" class="panel">
							<div class="panel-body">

								<div class="form-group">
									<div class="input-group">
										<label for="title" class="input-group-addon">Title</label>
										<input type="text" class="form-control" data-ng-model="project.title" id="title" required>
									</div>
								</div>

								<div class="form-group">
									<h6 class="panel-body-header"><strong>Current Collaborators</strong></h6>
									<div class="form-inline">
										<div class="form-group" ng-repeat="user in project.users">
											<div class="btn btn-default">{{user.name}}</div>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="form-buttons">
										<div class="pull-right">
											<button type="submit" class="btn btn-primary">Save</button>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Add Collaborators</h3>
						</div>
						<div id="nolabel-layout" class="panel">
							<div class="panel-body">

								<div data-ng-init="findUsers()">
									<div class="input-group">
											<label for="query" class="input-group-addon">Search Users</label>
											<input type="text" class="form-control" data-ng-model="query.name" id="query" placeholder="Search by name">
											<span class="input-group-addon"><i class="fa fa-fw fa-search"></i></span>
									</div>

									<div class="form-group">
										<div class="checkbox" data-ng-repeat="user in users | filter:query">
											<input type="checkbox" class="checkable" data-ng-checked="check(user)" data-ng-click="selectCollaborator(user)" id="checkbox-checkable">
											<label for="checkbox-checkable">{{user.name}} ({{user.username}})</label>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</form>

		</div>
	</div>
</section>