<section data-ng-controller="ProjectsController" data-ng-init="find()">

	<div class="col-lg-6" data-ng-repeat="project in projects">
		<!-- Panel Default -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{project.created | date: 'MMMM d, yyyy'}}</h3>

				<div class="btn-group pull-right">
					<a href="/#!/projects/{{project._id}}/edit" class="btn btn-default btn-refresh">
						<i class="fa fa-fw fa-cog"></i>
					</a>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body">
					<h3><a href="/#!/projects/{{project._id}}">{{project.title}}</a></h3>
					<div class="form-group">
						<div class="form-inline">
							<div class="form-group pull-right" ng-repeat="user in project.users">
								<div class="btn btn-default">{{user.name}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- This needs styling -->
	<p class="text-center" data-ng-hide="!projects || projects.length">No projects yet. <br> Why don't you <a href="/#!/projects/create">Create One</a>?</p>

</section>