<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
	<div class="layout-content">

		<div class="layout-header">
			<ul class="breadcrumb">
				<li><a href="/">Projects</a></li>
				<li class="active">{{project.title}}</li>
			</ul>
			<div class="page-header">
				<h1 class="page-title"><i class="fa fa-fw fa-folder"></i> Projects
					<small>{{project.title}}</small>
					<a href="/#!/projects/{{project._id}}/edit" class="btn btn-default">
						<i class="fa fa-fw fa-cog"></i>
					</a>
				</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="tile tile-default">
					<span style="line-height: 30px;">{{project.created | date:'MMMM d, yyyy'}}</span> /
					<span style="line-height: 30px;" ng-repeat="user in project.users">{{user.name}} </span>
					<a href="/#!/projects/{{project._id}}/versions/create" class="btn btn-default pull-right">Upload a new version</a>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		<div ng-include="'views/versions/list.html'"></div>
	</div>
</section>
