<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
	{% include '../includes/head.html' %}
	<body>
		<div class="layout-wrapper layout-right-panel-toggle" data-ng-controller="ProjectsController">

			<!-- Topbar -->
			<div class="layout-topbar" role="navigation">
				<!-- Toggle Sidebar Btn -->
				<a class="btn-left-panel" id="ltoggle-btn"><i class="fa fa-fw fa-bars"></i></a>

				<!-- Turned off right toggle by adding class to layout-wrapper and hiding button, fix permanently in css and stagui.js -->
				<!-- a class="pull-right btn-right-panel" id="rtoggle-btn"><i class="fa fa-fw fa-cog"></i><i class="fa fa-ellipsis-v"></i></a> -->

				<!-- Topbar Navs -->
				<div data-ng-include="'views/header.html'" data-ng-controller="HeaderController">
				</div>

				<!-- Topbar Title Container -->
				<h3 class="topbar-title ellipsis"></h3>
			</div>

			<!-- Sidebar -->
			<nav class="layout-sidebar" data-ng-include="'views/sidebar.html'">
				<!-- Sidebar Footer -->
				<div class="sidebar-footer">
					<p class="pull-left">© <strong>3DT</strong></p>
					<a id="scroll-top" href="#" class="btn btn-secondary pull-right"><i class="fa fa-fw fa-arrow-up"></i></a>
				</div>
			</nav>

			<!-- Rightbar -->
			{% block content %}{% endblock %}

		{% include '../includes/foot.html' %}
	</body>
</html>
